<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Key</key>
	<string>IJfN0DIICkSUA9WOxYu1pK6Rh</string>
	<key>consumer_Secret</key>
	<string>W2MmrCbe2xNA91UsoSHIy6UtClcborBCByZVXSUilkCsTmhYkC</string>
</dict>
</plist>
